# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.myenv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs & databases
*.log
*.sqlite3
db.sqlite3

# IDE / editor settings
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db

# Environment files
.env
*.env
